.profile_picDiv, .emailDiv, .bioDiv, .chainsDiv, .settingsDiv, .themeDiv {
    display: none;
}

body {
    margin-top: 60px;
    background-color: rgb(237, 224, 218);
}

* {
    box-sizing: border-box;
    font-family: Montserrat;
}