.bio {
    height: 100px;
    width: 1000px;
}

.post-form {
    margin-left: 20px;
}

.submit-button {
    margin-top: 20px;
}

body {
    margin-top: 60px;
    background-color: rgba(0, 0, 255, 0.15);
}

* {
    box-sizing: border-box;
    font-family: 'Righteous';
}


/*all other text font-family: 'Cutive Mono', monospace;
headers font-family: 'Ruthie', cursive; ***need to make big font size*/
