.header {
    border: 2px solid black;
    text-align: center;
}
.image_slider {
    border: 2px solid black;
    text-align: center;
}
.image_box {
    width: 200px;
    height: 180px;
}

/*.bounding-box {
  background: url("http://orig02.deviantart.net/34f2/f/2014/340/4/2/jewels_png_by_violettalestrange-d88xk94.png") no-repeat center;
  background-size: contain;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}*/
.artists-list {
    text-align: center;
}

.main {
    display: none;
}
* body {
    margin-top: 60px;
}